<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.susanwolak.trails"
    version   = "1.0.0">

<name>Trails Test Application</name>

<description>
A simple Trails Application - using PhoneGap Build application.
</description>

<author href="https://www.susanwolak.com" email="webmaster@swolak.com">
Ron Pringle
</author>

</widget>
